# 아래 둘 중에 하나를 DB에 따라 application.properties 에 지정
# spring.jpa.properties.hibernate.dialect=io.github.patternhelloworld.tak.config.database.dialect.CustomSQLServerDialect
# spring.jpa.properties.hibernate.dialect=io.github.patternhelloworld.tak.CustomMySQL8Dialect
