# [A] 기본 설정
spring.profiles.active=local
server.port=8370

# [B] DB - ??


spring.datasource.hikari.hq.common.url=
spring.datasource.hikari.hq.common.username=
spring.datasource.hikari.hq.common.password=

spring.datasource.hikari.hq.crm.url=
spring.datasource.hikari.hq.crm.username=
spring.datasource.hikari.hq.crm.password=

# [C] DB - ??

spring.datasource.hikari.hq.common.auto-commit=false
spring.datasource.hikari.hq.common.connection-test-query=SELECT 1
spring.datasource.hikari.hq.commonq.minimum-idle=10
spring.datasource.hikari.hq.common.maximum-pool-size=20
spring.datasource.hikari.hq.common.transaction-isolation=default

spring.datasource.hikari.hq.crm.auto-commit=false
spring.datasource.hikari.hq.crm.connection-test-query=SELECT 1
spring.datasource.hikari.hq.crm.minimum-idle=10
spring.datasource.hikari.hq.crm.maximum-pool-size=20
spring.datasource.hikari.hq.crm.transaction-isolation=default

# [D] DB - JPA
# DDL(create, alter, drop) 허용 : 위험하므로 특별한 상황 아니면 금지.
spring.jpa.hibernate.ddl-auto=none
# 이 옵션을 false 로 설정하면, 엔티티 관리 컨텍스트를 더 세밀하게 제어할 수 있으며, 이를 통해 성능과 Lazy Loading 관련 이슈
spring.jpa.open-in-view=false
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

# mysql 사용
#spring.datasource.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
#spring.jpa.database=sql_server
spring.jpa.database=mysql
#spring.jpa.properties.hibernate.dialect=dialect.database.config.io.github.patternhelloworld.tak.CustomSQLServerDialect
spring.jpa.properties.hibernate.dialect=dialect.database.config.io.github.patternhelloworld.tak.CustomMySQL8Dialect


# [E] 로깅 - JPA 의 SQL 출력

# basic log level for all messages
logging.level.org.hibernate=info
# SQL statements and parameters
logging.level.org.hibernate.SQL=debug
logging.level.org.hibernate.orm.jdbc.bind=trace
# Statistics and slow queries
logging.level.org.hibernate.stat=debug
logging.level.org.hibernate.SQL_SLOW=info
# 2nd Level Cache
logging.level.org.hibernate.cache=debug
# Enable formatted SQL output
spring.jpa.properties.hibernate.format_sql=true


# [F] 로깅 - 일반 설정
# Log
logging.file.name=logs/app.log


# [G] Spring Security
server.error.whitelabel.enabled=false

management.endpoints.web.exposure.include=*


# [H] CI/CD

app.test.auth.user.username=john.doe@example.com
app.test.auth.user.password=ged22sgesA

spring.test.context.cache.maxSize=4

app.test.oauth2.user.clientId=hq_pms_user
app.test.oauth2.user.clientSecret=5b22fcb8b72ceebd611e61126c0b2030


# [I] 3rd Party



# [J] 파일

file.upload.location=logs

file.upload-dir.root=files
file.upload-dir.root.public=files/public
file.upload-dir.root.public.depts=files/public/depts
file.upload-dir.root.public.customers=files/public/customers

spring.servlet.multipart.maxFileSize=10MB
spring.servlet.multipart.maxRequestSize=10MB
