# [A] ?? ??
spring.profiles.active=production
server.port=8370


# [B] DB - ??

spring.datasource.hikari.hq.common.url=jdbc:mysql://localhost:13506/kit_common?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
spring.datasource.hikari.hq.common.username=
spring.datasource.hikari.hq.common.password=

spring.datasource.hikari.hq.crm.url=jdbc:mysql://localhost:13506/kit_crm?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
spring.datasource.hikari.hq.crm.username=
spring.datasource.hikari.hq.crm.password=

# [C] DB - ??

spring.datasource.hikari.hq.common.auto-commit=false
spring.datasource.hikari.hq.common.connection-test-query=SELECT 1
spring.datasource.hikari.hq.common.minimum-idle=10
spring.datasource.hikari.hq.common.maximum-pool-size=20
spring.datasource.hikari.hq.common.transaction-isolation=default

spring.datasource.hikari.hq.crm.auto-commit=false
spring.datasource.hikari.hq.crm.connection-test-query=SELECT 1
spring.datasource.hikari.hq.crm.minimum-idle=10
spring.datasource.hikari.hq.crm.maximum-pool-size=20
spring.datasource.hikari.hq.crm.transaction-isolation=default




# [D] DB - JPA
# DDL(create, alter, drop) ?? : ????? ??? ?? ??? ??.
spring.jpa.hibernate.ddl-auto=none
# ? ??? false ? ????, ??? ?? ????? ? ???? ??? ? ???, ?? ?? ??? Lazy Loading ?? ??
spring.jpa.open-in-view=false
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

# mysql ??
#spring.datasource.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
#spring.jpa.database=sql_server
spring.jpa.database=mysql
#spring.jpa.properties.hibernate.dialect=com.autofocus.pms.hq.config.database.dialect.CustomSQLServerDialect
spring.jpa.properties.hibernate.dialect=io.github.patternhelloworld.tak.config.database.dialect.CustomMySQL8Dialect


# [E] ?? - JPA ? SQL ??

# basic log level for all messages
logging.level.org.hibernate=info
# SQL statements and parameters
logging.level.org.hibernate.SQL=debug
logging.level.org.hibernate.orm.jdbc.bind=trace
# Statistics and slow queries
logging.level.org.hibernate.stat=debug
logging.level.org.hibernate.SQL_SLOW=info
# 2nd Level Cache
logging.level.org.hibernate.cache=debug
# Enable formatted SQL output
spring.jpa.properties.hibernate.format_sql=true


# [F] ?? - ?? ??
# Log
logging.file.name=.files/logs/app.log


# [G] Spring Security
server.error.whitelabel.enabled=false

management.endpoints.web.exposure.include=*


# [H] CI/CD

app.test.auth.user.username=john.doe@example.com
app.test.auth.user.password=ged22sgesA

spring.test.context.cache.maxSize=4

app.test.oauth2.user.clientId=hq_pms_user
app.test.oauth2.user.clientSecret=5b22fcb8b72ceebd611e61126c0b2030


# [I] 3rd Party




# [J] ??

file.upload.location=files

file.upload-dir.root=files
file.upload-dir.root.public=files/public
file.upload-dir.root.public.depts=files/public/depts
file.upload-dir.root.public.customers=files/public/customers

spring.servlet.multipart.maxFileSize=10MB
spring.servlet.multipart.maxRequestSize=10MB
